.image {
  border-radius: 10px;
}
.title {
  width: 100%;
  text-align: center;
  font-size: 25px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
}
.media:hover {
  border: 1px solid rgb(255, 253, 253);
}
.sub_title {
  padding-top: 5px;
}
.rate {
  position: relative;
  bottom: 10px;
}
