.image1 {
  height: 170px;
  width: 170px;
  border-radius: 10px;
}
.title1 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
.cast_data {
  color: white;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
}
