.media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 220px;
  margin: 5px, 0;
  background-color: rgb(51, 53, 54);
  border-radius: 15px;
  padding-top: 10px;
}
.media:hover {
  background-color: grey;
}
.movpage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 15px;
  gap: 12px;
}

.cast {
  padding: 4px;
  width: 100%;
  height: 235px;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  gap: 20px;
}
.media1 {
  width: 200px;
  background-color: rgb(51, 53, 54);
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  height: 225px;
}
.media1:hover {
  background-color: grey;
}
.disp_img {
  height: 150px;
  width: 150px;
  margin-left: 170px;
}
.social_media {
  width: 150px;
  margin-left: 200px;
  padding-top: 30px;
  display: flex;
  gap: 40px;
}

.pagination {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 45px;
  justify-content: center;
  padding-top: 40px;
}
.pageno {
  font-family: fantasy;
  font-style: oblique;
  font-size: 25px;
}
