.media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 210px;
  margin: 5px, 0;
  background-color: rgb(51, 53, 54);
  border-radius: 15px;
  padding-top: 10px;
}
.media:hover {
  background-color: grey;
}
.movpage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 15px;
}
.pagination1 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 45px;
  justify-content: center;
  padding-top: 40px;
}
.pageno1 {
  font-family: fantasy;
  font-style: oblique;
  font-size: 25px;
}
