.media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 200px;
  margin: 5px, 0;
  background-color: rgb(51, 53, 54);
  border-radius: 15px;
  padding-top: 10px;
}
.media:hover {
  background-color: grey;
}
.movpage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 15px;
}
.pagination {
  position: relative;
  top: 30px;
}
.prevpage {
  position: relative;
  left: 5%;
}
.nxtpage {
  position: relative;
  left: 70%;
}
.pageno {
  position: relative;
  left: 36%;
  color: whitesmoke;
  font-size: 25px;
}
