.app {
  background-color: #000;
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 70px;
}
@media only screen and (min-device-width: 500px) and (orientation: Portrait) {
  .index {
    overflow-x: auto;
    background-color: #000;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
}
